$background-color: #fff7ed;
$primary-color: #7dd3fc;
$secondary-color: #bae6fd;

$contrast-color: #e7f8ff;
$contrast-color2: #0284c7;

$text-color: #010f22;
$inactive-color: #a1a1aa;
$active-color: #fff7ed;
